ul.events li {
	list-style-type: none;
}
ul.events li a {
	text-decoration: none;
}
.inline-block {
	display: inline-block;
}

.contact {
	
	text-decoration: none;
	color: white;
}
.contact:hover {
	
	text-decoration: none;
	color: white;
}